body {
    background-image: url("");
    background-repeat: repeat-x;
    
}
.marker { 
    display: flex;
    flex-direction: column;
}
a{
    color: red;
    font-size: xx-large;
}
.cursive {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    font-size: 2rem;
    text-emphasis-color: teal;
    font-variant-caps: all-petite-caps;
}
.bold {
    font-family: 'Lily Script One', cursive;
    text-align: center;
    font-size: 2rem;
    text-emphasis-color: teal;
    font-variant-caps: all-petite-caps;
}
.container {
	display: flex;
	flex-direction:column;
	}
  .red {
	background: lightgrey;
	flex-grow: 0.5;
  }
  .green {
	background: lightgrey;
	flex-grow: 1;
  }
  .container > div {
	font-size: 5vw;
	padding: .5em;
	color: black;
  }
#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color: Black;
}

#mainMenu a:hover {
	background-color: teal;
	color:#fff;
}
.rectangle-3 {
	width: 840px;
	height: 217px;
	padding: 8px 8px 8px 8px;
	background: #edf0f4;
	border-radius: 3px 3px 3px 3px;
}
.header-3 {
	width: 578px;
	height: 38px;
	color: #3b4754;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
}
.join-xelos-on-his-epic-journey-through-time-and-sp {
	width: 418px;
	height: 63px;
	color: #798da3;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 13px;
	line-height: 1.4;
	text-align: center;
}
.rectangle-8 {
	width: 286px;
	height: 185px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
	border-color: #c9d3dd;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
}
.contact-our-staff {
	width: 150px;
	height: 19px;
	color: #3b4754;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.1;
	text-align: center;
}
.talk-with-our-promotions-team-to-get-the-latest-in {
	width: 245px;
	height: 33px;
	color: #798da3;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: center;
}
.rectangle-7 {
	width: 286px;
	height: 185px;
	padding: 8px 8px 8px 8px;
	background: #ffffff;
	border-color: #c9d3dd;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
}
.contact-author {
	width: 123px;
	height: 19px;
	color: #3b4754;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.1;
	text-align: center;
}
.contact-me-to-get-information-on-the-next-big-tril {
	width: 245px;
	height: 33px;
	color: #798da3;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	text-align: center;
}
.button-6 {
	width: 132px;
	height: 28px;
	padding: 0px 10px 0px 10px;
	background: #29323d;
	color: #ffffff;
	border-color: #29323d;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px 2px 2px 2px;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 10px;
	text-align: center;
}
.rectangle-4 {
	width: 840px;
	height: 217px;
	padding: 8px 8px 8px 8px;
	background: #edf0f4;
	border-radius: 3px 3px 3px 3px;
}
.header-14 {
	width: 223px;
	height: 39px;
	color: #3b4754;
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
}
.blink-time-chronicles-book-1-is-a-thrilling-tale {
	width: 281px;
	height: 160px;
	color: #3b4754;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	text-align: left;
}
.screen-capture-004-book-cover-design-fotor-online-photo-editor-www-fotor-com {
	width: 285px;
	height: 448px;
}